
nav ul {
  margin-top: 3%;
}

.main-container {
  margin: 0 auto;
}

h3{
  color: #FFFFFF;
  font-family: Arial;
  font-size: 24px;
  margin-top: 8%;
}

h3, .search-items p {
  margin-left: 10%;
}

.group-btns {
  background-color : #FFFFFF;
  padding: 20px;
  width: 90%;
  margin-left: 10%;
}
.group-btns img {
  float: right;
}
.selectit {
  background-color: #80B773;
 }

.btn {
  padding-right: 20px;
}
/*.container .group-btns .active {
   background-color : #9DD3E0;
 }*/

.center {
  margin: 0 auto;
  width: 50%;
}
.partners {
  background-color: rgba(157, 211, 224, 0.9);
  max-width: 30vw;
  margin-left: 35%;
  /*margin-top: 10px*/
  padding: 2%;
}

.partners p {
  width: 90%;
  margin: 0 5%;
}

.partners ul{
  margin: 6% 10%;
}

.partners ul li {
  display: inline-block;
  padding-right: 20px;
}
