<<<<<<< HEAD
.main-container {
  margin: 0 auto;
}
h3{
  color: #FFFFFF;
  font-family: Arial-Black;
  font-size: 24px;
  margin-top: 100px;
}


.group-btns {
  background-color : #FFFFFF;
  padding: 20px;
  width: 90%;
}
.group-btns img {
  float: right;
}
.selectit {
  background-color: #80B773;
 }

.btn {
  padding-right: 20px;
}
/*.container .group-btns .active {
   background-color : #9DD3E0;
 }*/

.center {
  margin: 0 auto;
  width: 50%;
}
.partners {
  background-color: #9DD3E0;
  margin-top: 200px;
  padding: 20px;
}
.partners ul li {
  display: inline-block;
  padding-right: 20px;
}
=======
h3{
  color: #FFFFFF;
}
.search-bar {
  background-color: #FFFFFF;
  color:
  padding: 10px;
}

#search {
    width:90%;
}
/*row w/ all the pre-selected donatiion tags*/
.search-items {
    background-color: lightgray;
}
.search-container {
    background-color: #FFFFFF;
}
.items-collection{
    margin:20px;
    display: inline-block;
}
.items-collection label.btn-default.active{
    background-color:#007ba7;
    color:#FFF;
}
.items-collection label.btn-default{
    margin:5px;
    border-radius: 5px;
    background-color: #D8D8D8;
}
/*.items-collection label.itemcontent{
    width:100%;
}*/
/*.items-collection .btn-group{
    width:90%
}*/
>>>>>>> 81c8da73b2570efb78b69423e0286527306dc07e
