body {
  background-image: url("../assets/Hero-Photo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-family: ArialMT;
}

a {
  color: inherit;
}

.home-match-button h4 {
  font-family: Arial-Black;
  font-size: 18px;
}
.home-match-button {
  background-color: #9DD3E0;
  font-size: 10px;
  margin: 10px;
