.header-container {
  background-color: #FFFFFF;
}

header {
  max-width: 100%;
  background-color: #FFFFFF;
}

h1 {
  color: #FFFFFF;
  font-family:  Arial-Black;
  font-size: 36px;
}

h3{
  color: #FFFFFF;
}

.selected-link, .profile-sidebar li:hover {
  background-color: rgba(157, 211, 224,0.6);
}

.profile-sidebar li:last-child:hover {
  background-color: #00B7D1;
}


/*nav bar and social media icons in footer*/
nav ul li, .social-media li {
  display: inline-block;
  text-decoration: none;
}

.footer-links li, .profile-sidebar li, .inner-content li {
  list-style: none;
}


/*for all the buttons on the pages*/
.button, .contact-button {
  background-color: #80B773;
  color: white;
  border-radius: 100px;
  /*border 1px inside (margin? from UX)*/
  font-size: 14px;
  font-family: Arial-Black;
  /*line 19px (1.4) also from UX?*/
}


/*HEADER*/

.header-container, header{
  box-shadow: inset 0px -8px 5px -6px rgba(0,0,0,0.18);
}

.header-logo{
  margin: 5% 10%;
}

nav ul{
  margin-top: 1%;
  padding: 0;
}

nav ul li {
  color: #757575;
  font-family: Arial-BoldMT;
  font-size: 14px;
  margin: 4%;
}

/*push profile link further right*/
nav ul li:last-child{
  margin-left: 15%;
}

nav ul li a{
  color: #757575;
  font-family: Arial-BoldMT;
  font-size: 14px;
}

/*FORMS*/
form {
  background-color: #FFFFFF;
  color: #9B9B9B;
  font-family: Arial-BoldMT;
  font-size: 12px;
  radius: 5px;
}
form h2 {
  color: #00B7D1;
  font-family: Arial-Black;
  font-size: 36px;
}
form input {
  radius: 5px;
}


/*PROFILE SIDEBAR*/
.greetings {
  font-family: ArialMT;
  font-size: 36px;
  width: 100%;
  background-color: #9DD3E0;
  color: #FFFFFF;
  padding: 15% 0 10% 0;
  font-weight: lighter;
}

.greeting-container{
  width: 50%;
  display: inline;
}

.greetings h2, .greetings span{
  margin-left: 15%;
  display: inline;
}

.greetings h2{
  font-weight: lighter;
}

.greetings span {
  font-weight: 800;
}

.greeting-image-container{
  max-width: 50%;
  float: right;
  padding-right: 15%;
}

.profile-sidebar{
  background-color: #00B7D1;
  font-family: Arial-BoldMT;
  height: 100%;
  padding-bottom: 100%;
  padding-left: 0;
}

.profile-sidebar li {
  font-size: 18px;
  padding: 10%;
  font-weight: 200;
  border-bottom: 3px solid #0ac2db;
}

.profile-sidebar li a {
  color: #FFFFFF;
  font-weight: 200;
  margin-left: 5%;
}

.profile-sidebar li:last-child{
  border-bottom: none;
}

.profile-sidebar button{
  border-radius: 50%;
  width: 10em;
  height: 10em;
  border: none;
  font-weight: lighter;
  box-shadow: 0px 0px 7px 5px rgba(0,0,0,0.18);
  margin-left: 25%;
}

/*Donation History Table*/
.historyTable{
  border: none;
  box-shadow: 0px 5px 5px #888888;
}

.headerTable{
  color: darkgrey;
  font-size: 20px
  padding: 20px;
}

.rowTable{
border: none;
border-top: 1px solid lightgrey;
}

td{
  padding: 20px;
}

/*FOOTER*/
footer{
  background-color: #616161;
}

.footer-container {
  background-color: #616161;
  color: #FFFFFF;
  /*font-family: ArialMT;*/
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 10px;
  padding: 2em 15em;
}

.footer-links a {
  color: #FFFFFF;
  /*font-family: Arial-BoldMT;*/
  font-weight: 500;
}

.footer-container p {
  padding-right: 15%;
}

.social-media li {
  margin: 5%;
}
